/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}
/* CONTAINER */
.container {
    width: 800px;
    margin: 0 auto;
}
/* HEADER */
/* NAVIGATION */
nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 25px;
}
nav a {
    text-decoration: none;
    color: black;
}
header section {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 2%;
}
/* MAIN */
.first-content, .third-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 2%;
}
.second-content, .fourth-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 2%;
    
}
.second-content section:last-child, .fourth-content section:last-child {
    margin-left: 24px;
}
section button {
    margin-top: 10px;
}
button {
    border-radius: 7px;
    height: 30px;
}
hr {
    border : 1px dashed lightgray;
    width: 100%;
}
.horizontal {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.horizontal hr {
    width: 46%;
    border: 1px dashed gray;
    margin-right: 2%;
}


footer {
    margin-top: 30px;
}
footer section {
    padding-left: 2%;
}

footer div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 20px 2%;
    font-size: 14px;
    background-color: black;
    margin-top: 50px;
}
footer div nav {
    width: 60%;
}

footer nav a {
    
    color: white;
    text-decoration: none;
}